h1,
h2,
h3,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    font-size: 14px;
    color: var(--main-font-color);
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header-container {
    border-bottom: 1px solid #ececec;
}

.section {
    padding: 94px 0;
}

.section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}